body
{
    background-color: antiquewhite;
}
p
{
    font-size: 25px;
    font-family: monospace;
}
/******* First Div's Style*******/
.divOne
{
    background-color: red;
}
/******* Second Div's Style******/
.divTwo
{
    background-color: orangered;
}
/******* Third Div's Style*******/
.divThree
{
    background-color: darkorange;
}
/******* Hover Stuff*************/
.balding:hover
{
    box-shadow: 10px 10px 5px red;
    font-weight: bold;
    background-color: black;
    color:white;
}